<div class="app-container">
  <div class="overlay">
    <div class="message-box">
      <h1>Welcome to the Todo Task Application</h1>
      <p>Manage your tasks efficiently with our easy-to-use interface!</p>
    </div>
  </div>
  
  <div class="container">
    <h2 class="heading">Todo Task Application</h2>
    
    <div class="task-input">
      <input
        type="text"
        [(ngModel)]="newTask"
        placeholder="Enter a task"
        (keyup.enter)="addTask()"
        class="task-input-field"
      />
      <button (click)="addTask()" class="add-task-button">Add Task</button>
    </div>

    <div class="task-list">
      <app-task
        *ngFor="let task of tasks; let i = index"
        [task]="task"
        (deleteTask)="removeTask(i)"
      ></app-task>
    </div>
  </div>
</div>
